@import "fibonacci-styles";

.menu {
  @extend .round-corners;

  height: fit-content;
  min-width: $fib-12 * 1px;
  box-sizing: border-box;
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  z-index: 1;
}
